*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body{
    width: 95%;
    height: 100%;
    background-color: rgba(170, 170, 170, 0.4);
    backdrop-filter: blur(40px);
    border: solid 2px rgba(255, 255, 255, 0.40);
    border-radius: 2rem;
    margin: 0 auto;
} */

a{
    text-decoration: none;
}